<a href="https://colab.research.google.com/github/syafaaturrohmah571-oss/KKA-X-Semester-1/blob/main/2_Tipe_Variabel_Syafa_aX_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama:syafaaturrohmah

Kelas:X.11

No. Aben:33

#Konsep Dasar Variabel

In [ ]:
print("syafaaturrohmah571@gmail.com")
print("syafaaturrohmah571@gmail.com")
print("syafaaturrohmah571@gmail.com")

syafaaturrohmah571@gmail.com
syafaaturrohmah571@gmail.com
syafaaturrohmah571@gmail.com

In [ ]:
email_user_1 = "syafaaturrohmah571@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

syafaaturrohmah571@gmail.com
syafaaturrohmah571@gmail.com
syafaaturrohmah571@gmail.com

#Peraturan penanamaan variabel

In [ ]:
#Hanya diperbolehkan menggunakan huruf, angka, dan underscore
email user 2 = "bobbyaliando@gemail.com"

SyntaxError: invalid syntax (ipython-input-3910310120.py, line 2)

In [ ]:
emailuser2 ="bobbyaliando@gemail.com"

print(emailuser2)

bobbyaliando@gemail.com

In [ ]:
#Tidak boleh didahului angka
3_email_user = "Willytaulany@gmail.com"

print(3_email_user)

SyntaxError: invalid decimal literal (ipython-input-2431130605.py, line 2)

In [ ]:
email_user_3 = "willytaulany@gmail.com"

print(email_user_3)

willytaulany@gmail.com

In [ ]:
#Tidak boleh menggunakan kata kunci python
for = "HimamHimawan@gmail.com"

print(for)

SyntaxError: invalid syntax (ipython-input-2856673093.py, line 2)

In [ ]:
For = "HimamHimawan@gmail.com"

print(For)

HimamHimawan@gmail.com

In [ ]:
print = "Juliawati@gmail.com"

print(print)

TypeError: 'str' object is not callable

In [ ]:
Print = "Juliawati@gmail.com"

print(Print)

TypeError: 'str' object is not callable

In [ ]:
#tidak eror tapi dianjurkan harus deskriptif
_ = "Devandraarnoldi@gmail.com"

In [ ]:
print(_)

TypeError: 'str' object is not callable

In [ ]:
_ = "haidarhalilintar@gmail.com"

In [ ]:
print(_)

TypeError: 'str' object is not callable

#Assigment

In [ ]:
#Single assigment
nama_mahasiswa_1 : "Alexandrio"

print(nama_mahasiswa_1)

NameError: name 'nama_mahasiswa_1' is not defined

In [ ]:
#Multiple Asiggnment

# nama_barang_1 = "rinso"
# nama_barang_2 = "molto"

nama_barang_1, nama_barang_2, = "rinso", "molto"

print(nama_barang_1)
print(nama_barang_2)

rinso
molto

In [ ]:
#Assignment yang sama
nilai_devandra = nilai_willy = nilai_dzaki = 100

print(nilai_devandra)
print(nilai_willy)
print(nilai_dzaki)

100
100
100

In [ ]:
#Menimpa/Mengubah Nilai Variabel
nilai_himam = 95

In [ ]:
print(nilai_himam)

95

In [ ]:
nilai_himam = 100

In [ ]:
print(nilai_himam)

100

#Penggunaan Operator di Python

In [ ]:
#Tanpa Variabel
print(20+3)

23

In [ ]:
#Operand disimpan ke dalam variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

print(roti_swiss_alex + roti_swiss_nazril)

23

In [ ]:
#Hasil operasi disimpan ke dalam variabel
jumlah_roti_swiss = 20+3

print(jumlah_roti_swiss)

23

In [ ]:
#Operand dan hasil operasi disimpan ke variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

jumlah_roti_swiss = roti_swiss_alex + roti_swiss_nazril

print(jumlah_roti_swiss)

23

#Latihan soal

In [ ]:
#soal no. 1 (Tanpa variabel)
print(24 * 3)

72

In [ ]:
#soal no. 2(Hasil operasi di simpan ke dalam variabel)
Total_jumlah_botol = 24 *3

In [ ]:
#soal no.3 (Operand disimpan kedalam variabel)
Banyak_botol_per_kardus = 24
Jumlah_kardus = 3

print(Banyak_botol_per_kardus *
Jumlah_kardus)

72

In [ ]:
#soal no.4 (Operand dan hasil operasi di simpan ke variabel)
Banyak_botol_per_kardus = 24
Jumlah_kardus = 3

Total_jumlah_botol = Banyak_botol_per_kardus * Jumlah_kardus

print(Total_jumlah_botol)

72

#Operator Aritmatika

In [ ]:
buku_tulis_himam = 55
buku_tulis_vico = 15

In [ ]:
#penjumlahan
total_buku_tulis = buku_tulis_himam + buku_tulis_vico
print(total_buku_tulis)

70

In [ ]:
#pengurangan

selisi_buku_tulis = buku_tulis_himam - buku_tulis_vico
print(selisi_buku_tulis)

40

In [ ]:
#perkalian
jumlah_kardus_buku_tulis = 3
isi_buku_tulis_perkardus = 10

total_buku_tulis = jumlah_kardus_buku_tulis * isi_buku_tulis_perkardus

print(total_buku_tulis)

30

In [ ]:
#pembagian
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis / jumlah_anak_yatim

print(jumlah_buku_tulis_tiap_anak)

3.3333333333333335

In [ ]:
#pembagian bulat
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis // jumlah_anak_yatim

print(jumlah_buku_tulis_tiap_anak)

3

In [ ]:
#sisa bagi
sisa_buku_tulis = total_buku_tulis % jumlah_anak_yatim
print(sisa_buku_tulis)

3

In [ ]:
#perpangkatan

sisi= 5

luas_persegi = sisi ** 2
print(luas_persegi)

25

In [ ]:
luas_persegi = 36

sisi = luas persegi ** (1/2)
print(sisi)

SyntaxError: invalid syntax (ipython-input-1159648638.py, line 3)

#Latihan soal

In [ ]:
#soal no.1 (penjumlahan)
Dina_memiliki_apel = 8
ibu_memberi_apel = 5

jumlah_apel_Dina = Dina_memiliki_apel + ibu_memberi_apel
print(jumlah_apel_Dina)

13

In [ ]:
#soal no.2 (pengurangan)
petani_memetik_mangga = 30
mangga_yang_dijual = 12

mangga_yang_tersisa = petani_memetik_mangga - mangga_yang_dijual
print(mangga_yang_tersisa)

18

In [ ]:
#soal no.3 (perkalian)
jumlah_meja = 6
setiap_meja_ditempati_siswa = 4

total_jeruk_setiap_keranjang = jumlah_meja * setiap_meja_ditempati_siswa
print(total_jeruk_setiap_keranjang)

24

In [ ]:
#soal no.4 (pembagian)
jumlah_jeruk = 28
jumlah_keranjang = 7

total_jeruk_setiap_keranjang =jumlah_jeruk /jumlah_keranjang
print(total_jeruk_setiap_keranjang)

4.0

In [ ]:
#soal no.5 (sisa bagi)
ayah_membeli_donat = 25
jumlah_anak = 6

total_donat_yang_tersisa = ayah_membeli_donat//jumlah_anak
print(total_donat_yang_tersisa)

4

In [ ]:
#soal no.6 (perpangkat)

sisi = 7

luas_taman = sisi**2
print(luas_taman)

49

#Tipe variabel

In [ ]:
usia = 8

print(usia)
type(usia)

8

int

In [ ]:
berat_badan = 7.5

type(berat_badan)

float

In [ ]:
nama = "Dzakki"

type(nama)

str

In [ ]:
lulus = True

type(lulus)

bool

In [ ]:
titik_koordinat = -5
type(titik_koordinat)

int

In [ ]:
titik_koordinat_bintang = -10.0
type(titik_koordinat_bintang)

float

#Konversi Tipe Data

In [ ]:
usia = 7
print(usia)
type(usia)

7

int

In [ ]:
usia = float(usia)
print(usia)
type(usia)

7.0

float

In [ ]:
berat_badan = 72.5
print(berat_badan)
type(berat_badan)

72.5

float

In [ ]:
berat_badan = int(berat_badan)
print(berat_badan)
type(berat_badan)

72

int

In [ ]:
usia = 7
print(usia)
type(usia)

7

int

In [ ]:
usia = str(usia)
print(usia)
type(usia)

7

str

In [ ]:
lulus = 1
print(lulus)
type(lulus)

1

int

In [ ]:
lulus = bool(lulus)
print(lulus)
type(lulus)

True

bool

In [ ]:
lulus = 0
print(lulus)
type(lulus)

0

int

In [ ]:
lulus = bool(lulus)
print(lulus)
type(lulus)

False

bool